version: '2'

services:
  dhcpd-tftpd:
    image: ictu/dhcpd-tftpd
    restart: always
    networks:
      public:
        ipv4_address: {{ dhcp.server_ip }}
    volumes:
      - "{{ tftp.image_directory }}:/tftpboot"
    environment:
      - "SERVER_IP={{ dhcp.server_ip }}"
      - "GATEWAY={{ dhcp.gateway }}"
      - "SUBNET={{ dhcp.subnet }}"
      - "NETMASK={{ dhcp.netmask }}"
      - "RANGE_PXE={{ dhcp.range_pxe }}"
      - "RANGE_STATIC={{ dhcp.range_static }}"
      - "RANGE_OTHER={{ dhcp.range_other }}"
      - "NAMESERVERS={{ dhcp.nameservers }}"
      - "DEFAULT_LEASE_TIME={{ dhcp.default_lease_time }}"
      - "MAX_LEASE_TIME={{ dhcp.max_lease_time }}"

  cloud-config:
    image: ictu/cloud-config-server
    depends_on:
      - dhcpd-tftpd
    network_mode: service:dhcpd-tftpd
    volumes:
      - "{{ cloud_config.directory }}/{{ docker.network.vlan_id }}/:/cloud-init"
    environment:
      - "PORT=80"
      - "WORKDIR=cloud-init"

networks:
  public:
    external:
      name: {{ docker.network.name }}
