version: '2'

services:
  dhcpd-tftpd:
    image: dhcpd-tftpd
    restart: always
    networks:
      public:
        ipv4_address: {{ item.SERVER_IP }}
    volumes:
      - "{{ item.TFTPBOOT_MAPPING }}"
    environment:
      - "SERVER_IP={{ item.SERVER_IP }}"
      - "GATEWAY={{ item.GATEWAY }}"
      - "SUBNET={{ item.SUBNET }}"
      - "NETMASK={{ item.NETMASK }}"
      - "RANGE_PXE={{ item.RANGE_PXE }}"
      - "RANGE_STATIC={{ item.RANGE_STATIC }}"
      - "RANGE_OTHER={{ item.RANGE_OTHER }}"
      - "NAMESERVERS={{ item.NAMESERVERS }}"
      - "DEFAULT_LEASE_TIME={{ item.DEFAULT_LEASE_TIME }}"
      - "MAX_LEASE_TIME={{ item.MAX_LEASE_TIME }}"

networks:
  public:
    external:
      name: {{ item.EXT_NETWORK }}
